.notes-container {
  display: flex;
  align-items: center;

  justify-content: flex-start;
  margin: 5rem 8rem;
  flex-wrap: wrap;
  max-width: 70rem;
}
@media screen and (max-width: 768px) {
  .notes-container {
    margin-top: 25rem;
  }
  .main {
    padding: 3.5rem 0;
  }
}
.note {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 15rem;
  margin: 1rem 1rem;
  /* margin-top: 100px; */
}

.note-header img {
  object-fit: cover;
  height: 2rem;
  width: 100%;
}

.note-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  min-height: 2rem;
}

.note-body h4 {
  margin: 10px 0;
}

.note-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  margin-top: auto;
}

.user-info h5 {
  margin: 0;
}

.icon {
  margin-left: 95px;
  cursor: pointer;
}

.fa-pencil {
  margin-right: 20px;
}

.main {
  padding: 5rem 0;
  width: 100%;
  @media screen and (max-width: 768px) {
    padding: 3.5rem 0;
  }
}

.modal-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
